.font-sora {
  font-family: "Sora", sans-serif;
}

.font-roboto {
  font-family: "Roboto", system-ui;
}

.bg-gray-50 {
  background-color: #fafafa;
}
.bg-gray-100 {
  background-color: #f5f5f5;
}
.bg-gray-200 {
  background-color: #e5e5e5;
}
.bg-gray-300 {
  background-color: #d4d4d4;
}
.bg-gray-400 {
  background-color: #a3a3a3;
}
.bg-gray-500 {
  background-color: #737373;
}
.bg-gray-600 {
  background-color: #525252;
}
.bg-gray-700 {
  background-color: #404040;
}
.bg-gray-800 {
  background-color: #262626;
}
.bg-gray-900 {
  background-color: #171717;
}
.bg-gray-1000 {
  background-color: #0b0b0b;
}

.text-gray-50 {
  color: #fafafa;
}
.text-gray-100 {
  color: #f5f5f5;
}
.text-gray-200 {
  color: #e5e5e5;
}
.text-gray-300 {
  color: #d4d4d4;
}
.text-gray-400 {
  color: #a3a3a3;
}
.text-gray-500 {
  color: #737373;
}
.text-gray-600 {
  color: #525252;
}
.text-gray-700 {
  color: #404040;
}
.text-gray-800 {
  color: #262626;
}
.text-gray-900 {
  color: #171717;
}
.text-gray-1000 {
  color: #0b0b0b;
}

.bg-gradient-to-b {
  background-image: linear-gradient(
    to bottom,
    var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(0, 0, 0, 0))
  );
}

.bg-gradient-to-t {
  background-image: linear-gradient(
    to top,
    var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(0, 0, 0, 0))
  );
}

.bg-gradient-to-l {
  background-image: linear-gradient(
    to left,
    var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(0, 0, 0, 0))
  );
}

.bg-gradient-to-r {
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(0, 0, 0, 0))
  );
}

.from-gray-50 {
  --tw-gradient-from: #fafafa;
}

.from-gray-100 {
  --tw-gradient-from: #f5f5f5;
}

.from-gray-200 {
  --tw-gradient-from: #e5e5e5;
}

.from-gray-300 {
  --tw-gradient-from: #d4d4d4;
}

.from-gray-400 {
  --tw-gradient-from: #a3a3a3;
}

.from-gray-500 {
  --tw-gradient-from: #737373;
}

.from-gray-600 {
  --tw-gradient-from: #525252;
}

.from-gray-700 {
  --tw-gradient-from: #404040;
}

.from-gray-800 {
  --tw-gradient-from: #262626;
}

.from-gray-900 {
  --tw-gradient-from: #171717;
}

.from-gray-1000 {
  --tw-gradient-from: #0b0b0b;
}

.to-gray-50 {
  --tw-gradient-to: #fafafa;
}

.to-gray-100 {
  --tw-gradient-to: #f5f5f5;
}

.to-gray-200 {
  --tw-gradient-to: #e5e5e5;
}

.to-gray-300 {
  --tw-gradient-to: #d4d4d4;
}

.to-gray-400 {
  --tw-gradient-to: #a3a3a3;
}

.to-gray-500 {
  --tw-gradient-to: #737373;
}

.to-gray-600 {
  --tw-gradient-to: #525252;
}

.to-gray-700 {
  --tw-gradient-to: #404040;
}

.to-gray-800 {
  --tw-gradient-to: #262626;
}

.to-gray-900 {
  --tw-gradient-to: #171717;
}

.to-gray-1000 {
  --tw-gradient-to: #0b0b0b;
}

.border-gray-50 {
  border-color: #fafafa;
}

.border-gray-100 {
  border-color: #f5f5f5;
}

.border-gray-200 {
  border-color: #e5e5e5;
}

.border-gray-300 {
  border-color: #d4d4d4;
}

.border-gray-400 {
  border-color: #a3a3a3;
}

.border-gray-500 {
  border-color: #737373;
}

.border-gray-600 {
  border-color: #525252;
}

.border-gray-700 {
  border-color: #404040;
}

.border-gray-800 {
  border-color: #262626;
}

.border-gray-900 {
  border-color: #171717;
}

.border-gray-1000 {
  border-color: #0b0b0b;
}

.border-gray-50:hover {
  border-color: #e5e5e5;
}

.border-gray-100:hover {
  border-color: #d4d4d4;
}

.border-gray-200:hover {
  border-color: #c4c4c4;
}

.border-gray-300:hover {
  border-color: #b4b4b4;
}

.border-gray-400:hover {
  border-color: #929292;
}

.border-gray-500:hover {
  border-color: #636363;
}

.border-gray-600:hover {
  border-color: #424242;
}

.border-gray-700:hover {
  border-color: #333333;
}

.border-gray-800:hover {
  border-color: #1f1f1f;
}

.border-gray-900:hover {
  border-color: #0f0f0f;
}

.border-gray-1000:hover {
  border-color: #0a0a0a;
}

.text-effect-1 {
  background-image: linear-gradient(90deg, #a3a3a3, #f5f5f5);
  background-clip: text;
  color: transparent;
}

#card::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 160px;
  background: #0b0b0b;
  z-index: -2;
}
